body{
  background-color: rgb(248, 248, 248);
  font-family: 'Assistant', sans-serif;
}

.success {
  color: green;
  padding: 1em 0;
}


/*  Error msg */
.error-box b {
  color: red;
}

.error-box li b {
  color: red;
}

.error-box li {
  color: red;
}
