body {
  background-color: rgb(248, 248, 248);
  font-family: 'Assistant', sans-serif;
}

.wrapper {
  padding: 0 12em 3em 12em;
}

.title {
  font-weight: 700;
}

.success {
  color: green;
  padding: 1em 0;
}



/*  Error msg */
.error-box b {
  color: red;
}

.error-box li b {
  color: red;
}

.error-box li {
  color: red;
}

.search-bar {
  max-width: 100% !important;
  width: 100% !important;
}

.sort-select {
  width: 10em;
}



/* Buttons */

.del-btn-i {
  background-color: transparent;
  border: none;
  color: rgb(235, 1, 1);
  width: 3em;
  height: 2em;
  transition: 0.3s;
}

.del-btn-i:hover {
  color: rgb(109, 0, 0);
}

.edit-btn-i {
  background-color: transparent;
  border: none;
  color: rgb(235, 173, 1);
  width: 3em;
  height: 2em;
  transition: 0.3s;
}

.edit-btn-i:hover {
  color: rgb(180, 132, 0);
}

.edit-btn-i,
.del-btn-i {
  visibility: visible;
}

.num-btn-i {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  width: 3em;
  height: 2em;
  transition: 0.3s;
}

.num-btn-i:hover {
  color: rgb(109, 109, 109);
}

.image-link {
  text-decoration: underline 1px blue;
  color: blue;
  cursor: pointer;
}

.submit-btn {
  padding: 0.5em 1.5em;
  background-color: rgb(0, 185, 195);
  transition: 0.2s;
  color: white;
  border-radius: 20px;
  border: none;

}

.submit-btn:hover {
  padding: 0.5em 1.5em;
  background-color: rgb(35, 35, 35);
}

.save-btn {
  color: white;
  width: 6em;
  margin: auto;
  margin-top: 1.5em;
  padding: 0.5em 1.5em;
  background-color: rgb(0, 185, 195);
  transition: 0.2s;
  border-radius: 20px;
  border: none;
}

.save-btn:hover {
  background-color: rgb(35, 35, 35);
}

.edit-btn {
  padding: 0.5em 1.5em;
  background-color: rgb(0, 185, 195);
  transition: 0.2s;
  color: white;
  border-radius: 20px;
  border: none;

}

.edit-btn:hover {
  background-color: rgb(35, 35, 35);
}


.tableSize {
  display: grid;
  padding: 1em 0;
}

.tableSize-btn {
  width: 3em;
  height: fit-content;
  background-color: transparent;
  transition: 0.2s;
  color: rgb(23, 23, 23);
  /* margin: 0.1em; */
  border: none;
}

.tableSize-btn:hover {
  background-color: rgb(0, 185, 195);
}

.toggleColumns-btn,
.toggleZeroVolumeRows-btn {
  margin: auto;
  width: 3em;
  height: fit-content;
  background-color: transparent;
  transition: 0.2s;
  color: rgb(23, 23, 23);
  /* margin: 0.1em; */
  border: none;
}

.toggleColumns-btn:hover,
.toggleZeroVolumeRows-btn:hover {
  background-color: rgb(0, 185, 195);
}


/* IPAD */



@media screen and (max-width: 1080px) {

  .wrapper {
    padding: 0 4em;

  }

  .title {
    font-size: 2em;
    text-align: center;
  }

  .sub-title {
    font-size: 1.5em;
    text-align: center;
  }

  .paragraph {
    font-size: 1.2em;
    text-align: center;
  }


}


/* MOBILE */


@media screen and (max-width: 772px) {

  .wrapper {
    padding: 0 1em;
  }

  .navbar {
    padding-left: 3em !important;
    padding-right: 3em !important;
  }

  .table {
    font-size: 0.7em !important;
  }

  .search-bar {
    max-width: 75%;
    width: 35em;
    height: 4em;
  }

  .sort-select {
    width: 10em;

  }

  .num-btn-i {
    font-size: 1.7em;
  }

  .edit-btn-i,
  .del-btn-i,
  .tableSize-btn {
    visibility: hidden;
  }

  .submit-btn, .save-btn, .edit-btn {
    padding: 1em 2em;
    font-weight: 800;
    border: rgb(0, 185, 195) 1px solid;
    transition: 0s;
  }

  .submit-bt:hover, .save-btn:hover, .edit-btn:hover {
    padding: 1em 2em;
    border: rgb(0, 185, 195) 1px solid;
    background-color: rgb(0, 185, 195);
  }

  .submit-btn:active {
    border: rgb(94, 97, 99) 1px solid;
  }

  .paragraph {
    font-size: 1em;
  }

}